# Ignore the .extra file (see README.md for it's usage)
.extra

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# PHPStorm project files
.idea

# VS Code project files
.vscode

# Environment files
.env

# Valet environment variable files
.valet-env.php

# SQL database dumps
*.sql
*.sql.gz

# Local Lando config
.lando.local.yml
